<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name="first.hp.liedetector.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LieDetector"
        tools:targetApi="31">
        <activity
            android:name="first.hp.liedetector.MainActivity"
            android:exported="false" />
        <activity
            android:name="first.hp.liedetector.HilActivity"
            android:exported="false" />
        <activity
            android:name="first.hp.liedetector.FortActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="first.hp.liedetector.FunnyActivity"
            android:exported="false" />
        <activity
            android:name="first.hp.liedetector.HairActivity"
            android:exported="false" />
        <activity
            android:name="first.hp.liedetector.SoundActivity"
            android:exported="false" />
        <activity
            android:name="first.hp.liedetector.ScanActivity"
            android:exported="false" />
        <activity
            android:name="first.hp.liedetector.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2608788906951128~9467784148" />
    </application>

</manifest>